<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    

    <div class="container-fluid row">
     <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="https://media.licdn.com/dms/image/D4D03AQF6p3zK6M0BKQ/profile-displayphoto-shrink_400_400/0/1695785312423?e=1709769600&v=beta&t=AEvgAlXOlwiCl-A_lD2BSmNdrxD1V0XYQfdbE0sghe8" alt="Card image cap" style="width: 50px; height: 50px;">

            <div class="card-body">
              <h3 class="card-title">Dileep Bikkanuri</h3>
              <p class="card-text">@Dilepbikkanuri</p>
              <p class="card-text">Full stack Develop</p5>
            </div>
          </div>

     </div>
     <div class="col-8">
        <div class="card">
            <div class="media text-muted pt-3">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABl0lEQVR4AZXTtVokQRQF4CbufaAl3nmBdU/WFSdHIiyHBHd3d3d3d3f3w+ni9ghOf98/VlOn9Grm8yGqWXsf1WR4Qs/Ij+KEP1mkTTM4PPzB9JTSaYPOCeKcNqXNmZzI1vkD8f0FTRPuMU0vPkSrGV8GSOoUwfDumhtDnM0AndLMxo/RzfiW0IbviTZfE1rxIfpaSDrpmmzOOuFtZCMCy4YwubaH6XWxsY/BpW14Z3Wr9neR1oB1smiy2zC8iWhERNMk1vePkdA2jUh+jmqeRFjduJoJZ6eCPsU0myF+RkCsQ0DjJPaPT9Exu4GW6XW0Us3YCtzSO1XH+ok1hDJQZhLrGCAz2Dk8QdnwMgoHFlFEmd1z+JvSoQLK+XtI+bAt4KYlbDOgeHAJuX0LyKO0zln8YQCP23x3WILDJvoW9qNtZgNdc5tKNzVNrsE9o+vWTdQpnSDUVD/b+RQtm+YojXT7izRNeKAp6SM3Mbbl8Vc5pllzqAdyktR02ryhmDakjQXXeFNFNtqXs0VKOE74SYnr6j+Rts4X7QuDv9xBhKUAAAAASUVORK5CYII=" data-holder-rendered="true" style="width: 32px; height: 32px;">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <strong class="d-block text-gray-dark">@Entritelugu</strong>
                  To strengthen their frontend skills, Alex took online courses on advanced JavaScript frameworks like React and Angular. They also learned about state management, responsive design, and web accessibility. Building projects, such as a personal portfolio and a weather application, helped solidify their knowledge.
                </p>
              </div>
              <span><button type="button" class="btn btn-outline-danger like-btn" onclick="incrementLikeCount()">Like <span id="likeCount">0</span></button>
              <button type="button" class="btn btn-outline-primary like-btn" onclick="incrementShareCount()">Share <span id="ShareCount">0</span></button></span>
              

              

              

     </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>